<!doctype html>

<h1>Animal crossing chat</h1>

<div>
      <form id="addUsername" action="">
        <input id="username" type="text" /><button>Send</button>
      </form>
</div>

<div>
<div id="chatbox">
    <ul class="messages"></ul>
</div>

<form id="chat">
    <input id="m" autocomplete="off" /><button id="send">Send</button>
</form>
</div>

  <div id="turnips">
  <h2>Turnip Board:</h2>
  <ul class="turnipList"></ul>
  </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>