<!doctype html>
<head>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<header>
<h1>Animal Crossing Turnip Exchange</h1>

<div class="flex">
 <button id="add">add island</button>
</div>

</header>
  <div class="form">
    <form id="addIsland" action="/">
      <h1>Add Island</h1>
        <label> Island name:
          <input type="text" id="IslandName" autocomplete="off" required minlength="1" maxlength="10">
        </label>

        <label> Turnip Price:
          <input type="text" id="TurnipPrice" autocomplete="off" required minlength="1" maxlength="3">
        </label> 

        <label> Fruit Type:
          <input type="text" id="fruit" autocomplete="off" required minlength="1" maxlength="10">
        </label> 

        <label> Favorite Villager:
          <input type="text" id="villager" autocomplete="off" required minlength="1" maxlength="15">
        </label> 

        <label> Dodo code:
          <input type="text" id="dodoCode" autocomplete="off" required minlength="5" maxlength="5">
        </label> 
        <div class="submitBtn">
        <button>Send</button>
        </div>
      </form>
  </div>

<div class="flex">
  <div id="dailyMessage"> 
  </div>

  <div id="feed">
  </div>

  </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>